<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>analysis</title>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Analysis Results</h1>
      <ul style="text-align: left; display: inline-block">
        <li>Summary: <%= analysis.summary %></li>
        <li>Sentiment: <%= analysis.sentiment %></li>
        <li>Sender awaiting response: <%= analysis.awaitingResponse %></li>
      </ul>
    </div>
  </body>
</html>
